/* Add this style for the opening animation */
@keyframes openAnimation {
  0% {
    width: 200px;
  }
  100% {
    width: 100%; /* or the full width you desire */
  }
}

/* Apply the animation class when justBrowsing is true */
.animate-open {
  animation: openAnimation 0.3s ease-out; /* You can adjust the duration and easing function */
}

@keyframes openAnimation2 {
  0% {
    height: 0;
  }
  100% {
    height: 20px; /* or the full width you desire */
  }
}

.animate-open-ver {
  animation: openAnimation2 0.3s ease-out; /* You can adjust the duration and easing function */
}

@keyframes flyIn {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 10px; /* or the full width you desire */
  }
}

.flyIn {
  animation: flyIn 0.3s ease-out; /* You can adjust the duration and easing function */
}

@keyframes flyOut {
  0% {
    bottom: 10px;
    opacity: 100%;
  }
  50% {
    bottom: 35px;
    opacity: 70%;
  }
  100% {
    bottom: -100px; /* or the full width you desire */
    opacity: 0;
  }
}

.flyOut {
  animation: flyOut 0.3s ease-out; /* You can adjust the duration and easing function */
}
